* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color:#e1e1e1;
  color:#fff;
  font: 50px Arial sans-serif;
  line-height: 1.5;
}

div {
  text-align: center;
}

.gutter-sizer {
  width: 2%;
}

.item {
  float: left;
  background: #ACE;
  white-space: nowrap;
  
  -moz-border-radius:3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius:3px;
  border-radius:3px;

  -webkit-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
  -moz-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
  -ms-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
  -o-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
  transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */

  -webkit-transition-property: left, right, top;
  -moz-transition-property: left, right, top;
  -ms-transition-property: left, right, top;
  -o-transition-property: left, right, top;
  transition-property: left, right, top; 
}

.has-padding {
  padding: 10px 20px 30px 20px;
}

.success {
  background-color : green;
}

.failed {
  background-color: red;
}

.aborted {
  background-color: gray;
}

.building {
  background-color: yellow;
}
