<!DOCTYPE html>
<html>
  <head>
    <title>Ceagle-I: CI from Eagle Eye</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div id="container" class="container">
    </div>
    <div class="row">
      <div class="col-md-5">
      </div>
      <div class="col-md-5">
        &copy Ming Jin
      </div>
      <div class="col-md-2">
        <div class="alert alert-info">Last Updated at <span class="time"></span></div>
      </div>
    </div>
  </body>
  <script src="/js/jquery-2.0.3.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" charset="utf-8">
  $(function(){
    if (typeof(Worker) === 'undefined') {
      var error = 'Sorry, No Worker Support for this Browser. Please Use the Latest Version of Chrome, Firefox or Safari.'
      console.error(error);
      alert(error);
      throw error;
    }
    
    var scheduler = new Worker('js/ci.scheduler.js');
    scheduler.onmessage = function(event) {
      console.log('Start to Retrieve the CI Status for the '+ event.data + ' Times...')
      $.post('/q', { host: 'ci.jruby.org' }).done(function(data) {
        monitor.postMessage(data);
      });
    };
    
    var monitor = new Worker('js/ci.monitor.js');
    monitor.onmessage = function(event) {
      $.each(event.data, function(index, job) {
        var $job = $('div[data-job-name="'+job.name+'"]');
        if (!$job.length) {
          $job = $('<div>', {class: 'job has-padding'}).attr('data-job-name', job.name).text(job.name);
          $job.click(function(event) {
            // alert($(event.target).data('job-url'));
            event.stopImmediatePropagation();
            event.stopPropagation();
          });
          $('#container').append($job);
        }
        $job.attr('data-job-url', job.lastBuild.url);
        $job.removeClass('success failed aborted building').addClass(job.lastBuild.building ? 'building' : job.lastBuild.result.toLowerCase())
      });
      var now = new Date();
      $('span.time').text(now.getHours()+':'+(now.getMinutes()<10?'0':'')+now.getMinutes());
    };
    
    
  });
  </script>
</html> 