<!DOCTYPE html>
<html>
  <head>
    <title>Ceagle-I: CI from Eagle Eye</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div id="container" class="container">
    </div>
  </body>
  <script src="/js/jquery-2.0.3.min.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" charset="utf-8">
  $(function(){
    // if (typeof(Worker) === 'undefined') {
    //   alert('Sorry, No Worker Support for the Browser. Please Use the Latest Version of Chrome or Firefox or Safari');
    //   throw 'Sorry, No Worker Support for the Browser. Please Use the Latest Version of Chrome or Firefox or Safari';
    // }
    // 
    // monitor = new Worker('js/ci.monitor.js');
    // 
    // monitor.onmessage = function(event) {
    // };
    
    $.getJSON('http://localhost:3000/ci', function(data) {
      $.each(data, function(index, value) {
        // $.getJSON(value.url+'/lastBuild/api/json', function(data2) {
          var job = $('div[data-jobname="'+value.name+'"]');
          if (!job.length) {
            job = $('<div>', {class: 'item has-padding'}).data('jobname', value.name).text(value.name);  
            $('#container').append(job);
          }
          currentState = 'success' //data2.building == 'true' ? 'building' : data2.result.toLowerCase();
          job.removeClass('success failed aborted building').addClass(currentState);
        });
      // });
    });
  });
  </script>
</html> 