/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;

}

section{
  margin-bottom: 60px;
}
/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  background-color: #eee;
  border-left: #000000 solid 4px;
  line-height: 50px;
  height: 50px;
  padding-left: 14px;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-top: 30px;
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}

.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.pipeline {
  border: 1px solid #999;
  width: 98%;
  margin-left: 2%;
  margin-bottom: 20px
}

.pipeline-header {
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: 16px;
  padding: 0px 10px;
}

.pipeline-details{
  padding: 20px 4%;
}

.success{
  background-color: #8db226;
}
.fail{
  background-color: #ba3e25;
}
.doing{
  background-color: #f3db17;
}

.stage {
  float: left;
  width: 12%;
  height: 150px;
  border: solid 1px #aaa;
}

.stage-arrow {
  float: left;
  width: 4%;
}

.stage-head {
  height: 28px;
  font-size: 12px;
  line-height: 28px;
  color: #fff;
  padding-left: 6px;
}
.stage-head p {
  margin-bottom: 0;
}

.stage-body {
  background-color: white;
}

.module {
  border-left: 2px solid;
  margin: 2px;
}

.module > .module-head {
  text-align: left;
  margin: 2px;
}

.job {
  float: left;
  margin: 2px;
}

.job.success {
  background-color: green;
}