body{
  padding: 20px;
}
.main-block{
  height: 100%;
  float: left;
  padding: 0px 20px;
}
.main-block.product{
  width:16%;
}
.main-block.sub-project{
  width:16%;
}
.main-block.module{
  width:64%;
}





.jobs-group{
  border:solid #ddd 1px
}

.group-header{
  height:50px;
  background-color: #aaa;
  line-height: 50px;
  font-size: 20px;
  color:#fff;
}

.group-content{
  padding: 2px;
}

.job{
  background-color: #eee;
  margin-bottom: 2px;
}

.job-content:after{
  clear:both;
  height: 100px;
}

.status{
  float: left;
  width: 36px;
  height: 36px;
  color: #fff;
  line-height: 36px;
}


.status.success{
  background-color: #46C534;
}
.status.fail{
  background-color: #990000;
}
.status.doing{
  background-color: #999900;
}

.job-content{
  float: left;
}

.job-title{
  font-size: 12px;
  color:#333;
}

.job-time{
  font-size: 12px;
  color:#ddd;
}